openapi: 3.0.3
info:
  title: POS API
  description: Point of Sales REST API with JWT Authentication and HttpOnly Cookies
  version: 1.1.0
  contact:
    name: API Support
servers:
  - url: https://gopos-api.ilramdhan.dev
    description: Production server
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication endpoints
  - name: Categories
    description: Category management
  - name: Products
    description: Product management
  - name: Customers
    description: Customer management
  - name: Transactions
    description: Transaction management
  - name: Reports
    description: Sales reports and dashboard
  - name: System
    description: System status

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  # ============ AUTH ============
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: User login
      description: Login and receive JWT tokens in HttpOnly cookies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful (tokens set in cookies)
          headers:
            Set-Cookie:
              schema:
                type: string
              description: HttpOnly cookies containing access_token and refresh_token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              example:
                success: false
                message: "invalid email or password"

  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Registration successful
        "400":
          description: Validation error or email already exists
          content:
            application/json:
              example:
                success: false
                message: "email already registered"

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: Uses refresh_token from HttpOnly cookie
      responses:
        "200":
          description: Token refreshed
        "401":
          description: Invalid or expired refresh token

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      description: Clears HttpOnly authentication cookies
      responses:
        "200":
          description: Successfully logged out
          content:
            application/json:
              example:
                success: true
                message: "Successfully logged out"

  /api/v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
      responses:
        "200":
          description: Reset email sent (if email exists)

  /api/v1/auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      security:
        - cookieAuth: []
      responses:
        "200":
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      tags: [Auth]
      summary: Update profile
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated

  /api/v1/auth/me/activity:
    get:
      tags: [Auth]
      summary: Get user activity log
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Activity log retrieved

  # ============ CATEGORIES ============
  /api/v1/categories:
    get:
      tags: [Categories]
      summary: List categories
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Categories retrieved
    post:
      tags: [Categories]
      summary: Create category
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCategoryRequest"
      responses:
        "201":
          description: Category created

  /api/v1/categories/stats:
    get:
      tags: [Categories]
      summary: Get category statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Category stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryStatsResponse"

  /api/v1/categories/activity-log:
    get:
      tags: [Categories]
      summary: Get category activity log
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Activity log retrieved

  /api/v1/categories/{id}:
    get:
      tags: [Categories]
      summary: Get category by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Category retrieved
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [Categories]
      summary: Update category
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Category updated
    delete:
      tags: [Categories]
      summary: Delete category
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Category deleted

  # ============ PRODUCTS ============
  /api/v1/products:
    get:
      tags: [Products]
      summary: List products
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: category_id
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Products retrieved
    post:
      tags: [Products]
      summary: Create product
      security:
        - cookieAuth: []
      responses:
        "201":
          description: Product created

  /api/v1/products/stats:
    get:
      tags: [Products]
      summary: Get product/inventory statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Product stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductStatsResponse"

  /api/v1/products/stock-movements:
    get:
      tags: [Products]
      summary: Get stock movement log
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: product_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Stock movements retrieved

  /api/v1/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Product retrieved
    put:
      tags: [Products]
      summary: Update product
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Product updated
    delete:
      tags: [Products]
      summary: Delete product
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Product deleted

  /api/v1/products/{id}/stock:
    patch:
      tags: [Products]
      summary: Update product stock
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStockRequest"
      responses:
        "200":
          description: Stock updated

  # ============ CUSTOMERS ============
  /api/v1/customers:
    get:
      tags: [Customers]
      summary: List customers
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Customers retrieved
    post:
      tags: [Customers]
      summary: Create customer
      security:
        - cookieAuth: []
      responses:
        "201":
          description: Customer created

  /api/v1/customers/stats:
    get:
      tags: [Customers]
      summary: Get customer statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Customer stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerStatsResponse"

  /api/v1/customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Customer retrieved
    put:
      tags: [Customers]
      summary: Update customer
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Customer updated
    delete:
      tags: [Customers]
      summary: Delete customer
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Customer deleted

  # ============ TRANSACTIONS ============
  /api/v1/transactions:
    get:
      tags: [Transactions]
      summary: List transactions
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Transactions retrieved
    post:
      tags: [Transactions]
      summary: Create transaction (sale)
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransactionRequest"
      responses:
        "201":
          description: Transaction created

  /api/v1/transactions/recent:
    get:
      tags: [Transactions]
      summary: Get recent transactions
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        "200":
          description: Recent transactions

  /api/v1/transactions/{id}:
    get:
      tags: [Transactions]
      summary: Get transaction by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Transaction retrieved

  /api/v1/transactions/{id}/status:
    patch:
      tags: [Transactions]
      summary: Update transaction status
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Status updated

  # ============ REPORTS ============
  /api/v1/reports/dashboard/stats:
    get:
      tags: [Reports]
      summary: Get dashboard statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Dashboard stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardStatsResponse"

  /api/v1/reports/sales/realtime:
    get:
      tags: [Reports]
      summary: Get realtime sales data
      security:
        - cookieAuth: []
      parameters:
        - name: interval
          in: query
          schema:
            type: string
            enum: [hourly, 15min]
            default: hourly
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Realtime sales data

  /api/v1/reports/sales/daily:
    get:
      tags: [Reports]
      summary: Get daily sales report
      security:
        - cookieAuth: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Daily sales report

  /api/v1/reports/sales/monthly:
    get:
      tags: [Reports]
      summary: Get monthly sales report
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Monthly sales report

  /api/v1/reports/products/top:
    get:
      tags: [Reports]
      summary: Get top selling products
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Top products report

  # ============ SYSTEM ============
  /api/v1/system/health/detailed:
    get:
      tags: [System]
      summary: Get detailed system health
      security:
        - cookieAuth: []
      responses:
        "200":
          description: System health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemHealthResponse"

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: HttpOnly cookie authentication

  parameters:
    ID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 10

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    HealthResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: string
            version:
              type: string

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: "admin@pos.local"
        password:
          type: string
          minLength: 6
          example: "Admin123!"

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/UserResponse"
            token:
              type: object
              properties:
                expires_in:
                  type: integer
                token_type:
                  type: string

    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        confirmPassword:
          type: string
        name:
          type: string
        businessName:
          type: string
        licenseKey:
          type: string
        role:
          type: string
          enum: [admin, manager, cashier]
          default: cashier
        agreeToTerms:
          type: boolean

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    UpdateProfileRequest:
      type: object
      required: [name, email]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string

    UserResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        phone:
          type: string
        role:
          type: string
        is_active:
          type: boolean

    CreateCategoryRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        description:
          type: string
        slug:
          type: string

    CategoryStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_categories:
              type: integer
            new_this_week:
              type: integer
            active_categories:
              type: integer
            coverage_percent:
              type: integer

    ProductStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_sku:
              type: integer
            low_stock_count:
              type: integer
            out_of_stock_count:
              type: integer
            inventory_value:
              type: number

    CustomerStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_customers:
              type: integer
            new_this_month:
              type: integer
            avg_loyalty_points:
              type: integer

    UpdateStockRequest:
      type: object
      required: [quantity, operation]
      properties:
        quantity:
          type: integer
        operation:
          type: string
          enum: [add, subtract, set]

    CreateTransactionRequest:
      type: object
      required: [payment_method, items]
      properties:
        customer_id:
          type: string
        payment_method:
          type: string
          enum: [cash, card, ewallet]
        discount_amount:
          type: number
        notes:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              quantity:
                type: integer

    DashboardStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            today_sales:
              type: object
              properties:
                amount:
                  type: number
                change_percent:
                  type: number
            active_orders:
              type: object
              properties:
                count:
                  type: integer
            net_margin:
              type: object
              properties:
                percent:
                  type: number

    SystemHealthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            terminals:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  status:
                    type: string
            servers:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  uptime_percent:
                    type: number
                  status:
                    type: string

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    Meta:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
