openapi: 3.0.3
info:
  title: GoPOS API
  description: |
    Point of Sales REST API with JWT Authentication via HttpOnly Cookies.

    ## Authentication
    This API uses HttpOnly cookies for authentication. After login, tokens are automatically
    set as cookies and will be sent with subsequent requests.

    ## Test Accounts (Auto-seeded)
    - **Admin**: admin@gopos.local / Admin123!
    - **Manager**: manager@gopos.local / Manager123!
    - **Cashier**: cashier@gopos.local / Cashier123!
  version: 2.0.0
  contact:
    name: API Support
servers:
  - url: https://gopos-api.ilramdhan.dev
    description: Production server
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management (Admin only)
  - name: POS
    description: Point of Sale operations
  - name: Notifications
    description: User notifications
  - name: Categories
    description: Category management
  - name: Products
    description: Product management
  - name: Customers
    description: Customer management
  - name: Transactions
    description: Transaction management
  - name: Reports
    description: Sales reports and dashboard
  - name: System
    description: System status

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: Service is healthy

  # ============ AUTH ============
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: User login
      description: Returns JWT tokens in HttpOnly cookies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            example:
              email: "admin@gopos.local"
              password: "Admin123!"
      responses:
        "200":
          description: Login successful
          headers:
            Set-Cookie:
              schema:
                type: string
              description: HttpOnly cookies (access_token, refresh_token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials

  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Registration successful
        "400":
          description: Validation error or email exists

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: Uses refresh_token from cookie
      responses:
        "200":
          description: Token refreshed
        "401":
          description: Invalid refresh token

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      description: Clears authentication cookies
      responses:
        "200":
          description: Logged out

  /api/v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordRequest"
      responses:
        "200":
          description: Reset email sent if email exists

  /api/v1/auth/me:
    get:
      tags: [Auth]
      summary: Get current user
      security:
        - cookieAuth: []
      responses:
        "200":
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
    put:
      tags: [Auth]
      summary: Update profile
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated

  /api/v1/auth/me/activity:
    get:
      tags: [Auth]
      summary: Get user activity log
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Activity log

  # ============ USERS (Admin Only) ============
  /api/v1/users:
    get:
      tags: [Users]
      summary: List all users
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [admin, manager, cashier]
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Users retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "403":
          description: Admin access required
    post:
      tags: [Users]
      summary: Create user
      description: Admin only
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: User created
        "403":
          description: Admin access required

  /api/v1/users/{id}:
    get:
      tags: [Users]
      summary: Get user by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: User retrieved
    put:
      tags: [Users]
      summary: Update user
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: User updated
    delete:
      tags: [Users]
      summary: Delete user
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: User deleted

  /api/v1/users/{id}/reset-password:
    put:
      tags: [Users]
      summary: Reset user password
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_password]
              properties:
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password reset

  # ============ POS ============
  /api/v1/pos/products:
    get:
      tags: [POS]
      summary: Get products for POS
      description: Returns products with stock and price for POS display
      security:
        - cookieAuth: []
      parameters:
        - name: category_id
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Products retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/POSProductListResponse"

  /api/v1/pos/transactions:
    post:
      tags: [POS]
      summary: Create POS transaction
      description: Create a sale from POS terminal
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/POSTransactionRequest"
      responses:
        "201":
          description: Transaction created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/POSTransactionResponse"

  /api/v1/pos/hold:
    get:
      tags: [POS]
      summary: Get held transactions
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Held transactions retrieved
    post:
      tags: [POS]
      summary: Hold transaction
      description: Save transaction temporarily
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HoldTransactionRequest"
      responses:
        "201":
          description: Transaction held

  /api/v1/pos/hold/{id}:
    delete:
      tags: [POS]
      summary: Delete held transaction
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Held transaction deleted

  # ============ NOTIFICATIONS ============
  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: Get notifications
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Notifications retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationListResponse"

  /api/v1/notifications/{id}/read:
    put:
      tags: [Notifications]
      summary: Mark notification as read
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Notification marked as read

  /api/v1/notifications/read-all:
    put:
      tags: [Notifications]
      summary: Mark all notifications as read
      security:
        - cookieAuth: []
      responses:
        "200":
          description: All notifications marked as read

  # ============ CATEGORIES ============
  /api/v1/categories:
    get:
      tags: [Categories]
      summary: List categories
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Categories retrieved
    post:
      tags: [Categories]
      summary: Create category
      description: Admin/Manager only
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCategoryRequest"
      responses:
        "201":
          description: Category created

  /api/v1/categories/stats:
    get:
      tags: [Categories]
      summary: Get category statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Stats retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryStatsResponse"

  /api/v1/categories/activity-log:
    get:
      tags: [Categories]
      summary: Get category activity log
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Activity log

  /api/v1/categories/{id}:
    get:
      tags: [Categories]
      summary: Get category by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Category retrieved
    put:
      tags: [Categories]
      summary: Update category
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Category updated
    delete:
      tags: [Categories]
      summary: Delete category
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Category deleted

  # ============ PRODUCTS ============
  /api/v1/products:
    get:
      tags: [Products]
      summary: List products
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: category_id
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Products retrieved
    post:
      tags: [Products]
      summary: Create product
      description: Admin/Manager only
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
      responses:
        "201":
          description: Product created

  /api/v1/products/stats:
    get:
      tags: [Products]
      summary: Get product statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Stats retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductStatsResponse"

  /api/v1/products/stock-movements:
    get:
      tags: [Products]
      summary: Get stock movement log
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: product_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Stock movements

  /api/v1/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Product retrieved
    put:
      tags: [Products]
      summary: Update product
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Product updated
    delete:
      tags: [Products]
      summary: Delete product
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Product deleted

  /api/v1/products/{id}/stock:
    patch:
      tags: [Products]
      summary: Update product stock
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStockRequest"
      responses:
        "200":
          description: Stock updated

  # ============ CUSTOMERS ============
  /api/v1/customers:
    get:
      tags: [Customers]
      summary: List customers
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Customers retrieved
    post:
      tags: [Customers]
      summary: Create customer
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
      responses:
        "201":
          description: Customer created

  /api/v1/customers/stats:
    get:
      tags: [Customers]
      summary: Get customer statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Stats retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerStatsResponse"

  /api/v1/customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Customer retrieved
    put:
      tags: [Customers]
      summary: Update customer
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Customer updated
    delete:
      tags: [Customers]
      summary: Delete customer
      description: Admin/Manager only
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Customer deleted

  # ============ TRANSACTIONS ============
  /api/v1/transactions:
    get:
      tags: [Transactions]
      summary: List transactions
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, completed, cancelled, refunded]
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Transactions retrieved
    post:
      tags: [Transactions]
      summary: Create transaction
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransactionRequest"
      responses:
        "201":
          description: Transaction created

  /api/v1/transactions/recent:
    get:
      tags: [Transactions]
      summary: Get recent transactions
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        "200":
          description: Recent transactions

  /api/v1/transactions/stats:
    get:
      tags: [Transactions]
      summary: Get transaction statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Stats retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStatsResponse"

  /api/v1/transactions/{id}:
    get:
      tags: [Transactions]
      summary: Get transaction by ID
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Transaction retrieved

  /api/v1/transactions/{id}/status:
    patch:
      tags: [Transactions]
      summary: Update transaction status
      description: Admin/Manager only
      security:
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [completed, cancelled, refunded]
      responses:
        "200":
          description: Status updated

  # ============ REPORTS ============
  /api/v1/reports/dashboard/stats:
    get:
      tags: [Reports]
      summary: Get dashboard statistics
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Dashboard stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardStatsResponse"

  /api/v1/reports/sales/realtime:
    get:
      tags: [Reports]
      summary: Get realtime sales data
      security:
        - cookieAuth: []
      parameters:
        - name: interval
          in: query
          schema:
            type: string
            enum: [hourly, 15min]
            default: hourly
        - name: date
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Realtime sales

  /api/v1/reports/sales/daily:
    get:
      tags: [Reports]
      summary: Get daily sales report
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Daily sales report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DailySalesResponse"
        "403":
          description: Admin access required

  /api/v1/reports/sales/weekly:
    get:
      tags: [Reports]
      summary: Get weekly sales report
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Weekly sales report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeeklySalesResponse"
        "403":
          description: Admin access required

  /api/v1/reports/sales/monthly:
    get:
      tags: [Reports]
      summary: Get monthly sales report
      description: Admin only
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Monthly sales
        "403":
          description: Admin access required

  /api/v1/reports/products/top:
    get:
      tags: [Reports]
      summary: Get top selling products
      description: Admin only
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month]
            default: month
      responses:
        "200":
          description: Top products
        "403":
          description: Admin access required

  /api/v1/reports/categories/performance:
    get:
      tags: [Reports]
      summary: Get category performance
      description: Admin only
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Category performance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryPerformanceResponse"
        "403":
          description: Admin access required

  # ============ SYSTEM ============
  /api/v1/system/health/detailed:
    get:
      tags: [System]
      summary: Get detailed system health
      security:
        - cookieAuth: []
      responses:
        "200":
          description: System health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemHealthResponse"

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: HttpOnly cookie authentication

  parameters:
    ID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 10

  schemas:
    # Auth
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/UserResponse"
            token:
              type: object
              properties:
                expires_in:
                  type: integer
                token_type:
                  type: string

    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        confirmPassword:
          type: string
        name:
          type: string
        businessName:
          type: string
        licenseKey:
          type: string
        role:
          type: string
          enum: [admin, manager, cashier]
          default: cashier
        agreeToTerms:
          type: boolean

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    UpdateProfileRequest:
      type: object
      description: All fields are optional - only provided fields will be updated
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          maxLength: 20

    UserResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        phone:
          type: string
        role:
          type: string
        is_active:
          type: boolean

    # Users
    UserListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserResponse"
        meta:
          $ref: "#/components/schemas/Meta"

    CreateUserRequest:
      type: object
      required: [name, email, password, role]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        phone:
          type: string
        role:
          type: string
          enum: [admin, manager, cashier]

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        role:
          type: string
          enum: [admin, manager, cashier]
        is_active:
          type: boolean

    # POS
    POSProductListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              sku:
                type: string
              price:
                type: number
              stock:
                type: integer
              category_id:
                type: string
              category_name:
                type: string
              image_url:
                type: string

    POSTransactionRequest:
      type: object
      required: [payment_method, items]
      properties:
        customer_id:
          type: string
        payment_method:
          type: string
          enum: [cash, card, ewallet]
        items:
          type: array
          items:
            type: object
            required: [product_id, quantity]
            properties:
              product_id:
                type: string
              quantity:
                type: integer
              unit_price:
                type: number
              discount:
                type: number
        subtotal:
          type: number
        tax_amount:
          type: number
        discount_amount:
          type: number
        total_amount:
          type: number
        amount_paid:
          type: number
        change_amount:
          type: number
        notes:
          type: string

    POSTransactionResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
            invoice_number:
              type: string
            status:
              type: string
            total_amount:
              type: number
            created_at:
              type: string
              format: date-time

    HoldTransactionRequest:
      type: object
      properties:
        customer_id:
          type: string
        customer_name:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              quantity:
                type: integer
        total_amount:
          type: number
        notes:
          type: string

    # Notifications
    NotificationListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            unread_count:
              type: integer
            notifications:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                    enum:
                      [
                        low_stock,
                        out_of_stock,
                        new_order,
                        order_completed,
                        system,
                      ]
                  title:
                    type: string
                  message:
                    type: string
                  is_read:
                    type: boolean
                  created_at:
                    type: string
                  action_url:
                    type: string

    # Categories
    CreateCategoryRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        description:
          type: string
        slug:
          type: string

    CategoryStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_categories:
              type: integer
            new_this_week:
              type: integer
            active_categories:
              type: integer
            coverage_percent:
              type: integer
            most_popular:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                items_sold:
                  type: integer

    # Products
    CreateProductRequest:
      type: object
      required: [category_id, sku, name, price]
      properties:
        category_id:
          type: string
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
        stock:
          type: integer
        image_url:
          type: string

    ProductStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_sku:
              type: integer
            low_stock_count:
              type: integer
            out_of_stock_count:
              type: integer
            inventory_value:
              type: number
            value_change_percent:
              type: number

    UpdateStockRequest:
      type: object
      required: [quantity, operation]
      properties:
        quantity:
          type: integer
        operation:
          type: string
          enum: [add, subtract, set]

    # Customers
    CreateCustomerRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string

    CustomerStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_customers:
              type: integer
            change_percent:
              type: number
            new_this_month:
              type: integer
            new_change_percent:
              type: number
            avg_loyalty_points:
              type: integer

    # Transactions
    CreateTransactionRequest:
      type: object
      required: [payment_method, items]
      properties:
        customer_id:
          type: string
        payment_method:
          type: string
          enum: [cash, card, ewallet]
        discount_amount:
          type: number
        notes:
          type: string
        items:
          type: array
          items:
            type: object
            required: [product_id, quantity]
            properties:
              product_id:
                type: string
              quantity:
                type: integer

    TransactionStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_transactions:
              type: integer
            total_revenue:
              type: number
            avg_order_value:
              type: number
            today_transactions:
              type: integer
            today_revenue:
              type: number

    # Reports
    DashboardStatsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            today_sales:
              type: object
              properties:
                amount:
                  type: number
                change_percent:
                  type: number
                comparison:
                  type: string
            active_orders:
              type: object
              properties:
                count:
                  type: integer
                avg_prep_time_mins:
                  type: integer
            net_margin:
              type: object
              properties:
                percent:
                  type: number
                change_percent:
                  type: number

    DailySalesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            period:
              type: string
            date_from:
              type: string
            date_to:
              type: string
            total_revenue:
              type: number
            total_transactions:
              type: integer
            avg_order_value:
              type: number
            chart_data:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                  revenue:
                    type: number
                  transactions:
                    type: integer

    WeeklySalesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            period:
              type: string
            total_revenue:
              type: number
            total_transactions:
              type: integer
            avg_order_value:
              type: number
            chart_data:
              type: array
              items:
                type: object
                properties:
                  week:
                    type: string
                  week_start:
                    type: string
                  revenue:
                    type: number
                  transactions:
                    type: integer

    CategoryPerformanceResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              category_id:
                type: string
              category_name:
                type: string
              total_sold:
                type: integer
              total_revenue:
                type: number
              percentage:
                type: number

    SystemHealthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            terminals:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  latency_ms:
                    type: integer
                  status:
                    type: string
            servers:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  uptime_percent:
                    type: number
                  status:
                    type: string
            integrations:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  status:
                    type: string

    Meta:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
